.evk_inline_flex { display: flex; }
.evk_label_range { margin-right: 10px; line-height: 1px; padding: 7px 0px 0px 0px;}
.evk_value_range { text-align: center; margin-top: -2px; right: 30px; width: 40px; font-size: 10px; border-radius: 20px; border: 1px solid silver; margin-left: 10px; }
